body {
  background-color: #e4d4d4;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding-top: 55px;
  color: #595959;
}

.todoAppWrapper {
  max-width: 530px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 9px 7px 28px -5px #777777;
  border-radius: 10px;
}

a {
  color: #bd8d8d;
  text-decoration: none;
  transition: all 0.4s;
}

a:hover {
  color: #427272;
}

h1 {
  margin: 0;
}

.header {
  text-align: center;
  padding: 20px 0;
  background: #bd8d8d;
  border-radius: 10px 10px 0 0;
  color: white;
}

.taskWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid rgba(172, 172, 172, 0.391);
}

.taskTitle {
  display: flex;
  align-items: center;
}

.taskCompletedIcon {
  height: 20px;
  width: 20px;
  background-color: rgb(165, 165, 165);
  border-radius: 50%;
  margin-right: 10px;
}

.taskIncompletedIcon {
  height: 20px;
  width: 20px;
  background-color: rgb(0, 179, 125);
  border-radius: 50%;
  margin-right: 10px;
}

.loginAndLogout {
  padding: 20px;
  text-align: right;
}

.completeButton {
  color: rgb(129, 153, 203);
  padding-right: 10px;
  font-size: 22px;
}

.editButton {
  color: rgb(118, 166, 151);
  padding-right: 10px;
  font-size: 22px;
}

.deleteButton {
  color: rgb(153, 71, 39);
  font-size: 22px;
}

.searchWrapper {
  display: flex;
  padding: 5px 17px;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  height: 30px;
  width: 160px !important;
  padding: 2px 4px;
  border: 1px solid #bd8d8d;
  border-radius: 5px;
  outline: none;
}

.button {
  padding: 4px 10px;
  background-color: white;
  color: #bd8d8d;
  border-radius: 5px;
  border: 1px solid #bd8d8d;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.4s;
}

.button:hover {
  background-color: #bd8d8d;
  color: white;
}

.addButton {
  font-size: 20px;
  color: #bd8d8d;
}

label {
  display: block;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  border: 1px solid #bd8d8d;
  outline: none;
  border-radius: 5px;
}

.login {
  padding: 20px;
}

.createAccount {
  text-align: center;
}

.createAccount p {
  font-size: 10pt;
  color: #595959;
  margin-bottom: 5px;
}
