{% extends 'todoapp/base.html' %}
{% block content %}
  <div class="header">
    <h1>新規登録</h1>
  </div>

  <div class="login">
    <form action="" method="POST">
      {% csrf_token %}
      <label>ユーザー名：</label>
      {{ form.username }}
      <label>パスワード：</label>
      {{ form.password1 }}
      {% for error in form.password1.errors %}
        <p style="font-size: 13px;">{{ error }}</p>
      {% endfor %}
      <label>確認用のパスワード：</label>
      {{ form.password2 }}
      {% for error in form.password2.errors %}
        <p style="font-size: 13px;">{{ error }}</p>
      {% endfor %}
      <input class="button" type="submit" value="新規登録" style="margin-top: 10px;" />
    </form>

    <div class="createAccount">
      <p>すでにアカウントを持っていますか？</p>
      <a href="{% url 'login' %}">ログイン</a>
    </div>
  </div>
{% endblock %}
