<i class="bi bi-arrow-clockwise"></i>

{% extends 'todoapp/base.html' %}
{% block content %}

<div class="header">
  <h1>{{request.user}}のタスク</h1>
</div>

<div class="searchWrapper">
  <form method="GET" style="margin: 7px 0;">
   <input class="searchInput" type="text" name="search" value={{search}}>
   <input class="button" type="submit" value="検索">
 </form>
 <a class="addButton" href="{% url 'create-task' %}">＋</a>
</div>

<div class="tasksWrapper">
  {% for task in tasks %}
  <div class="taskWrapper">
    {% if task.completed %}
    <!--タスクが完了している場合-->
    <div class="taskTitle">
      <div class=taskCompletedIcon></div>
      <s><a href="{% url 'task' task.id %}">{{task}}</a></s>
    </div>
    <div>
      <a href="{% url 'complete' task.id %}"   class="completeButton" style="padding-right: 15px;">&#8634;</a>
      <a href="{% url 'delete-task' task.id %}"   class="deleteButton">×</a>
    </div>
    {% else %}
    <!--タスクが未完了の場合-->
    <div class="taskTitle">
      <div class=taskIncompletedIcon></div>
      <a href="{% url 'task' task.id %}">{{task}}</a>
    </div>
    <div>
<!-- タスク一覧ページ (task_list.html) -->
      <a href="{% url 'edit-task' task.id %}"         class="editButton">&#9999;</a>
      <a href="{% url 'complete' task.id %}"         class="completeButton">&#10003;</a>
      <a href="{% url 'delete-task' task.id %}"   class="deleteButton">×</a>
    </div>
    {% endif %}
  </div>

  <!--タスクがない場合-->
  {% empty %}
  <p style="padding: 0 20px;">タスクがありません</p>
  {% endfor %}
</div>

<div class="loginAndLogout">
  {% if request.user.is_authenticated %}
  <a href="{% url 'logout' %}">ログアウト</a>
  {% else %}
  <a href="{% url 'login' %}">ログイン</a>
  {% endif %}
</div>

{% endblock content %}
