{% extends 'todoapp/base.html' %}
{% block content %}
  <div class="header">
    <h1>ログイン</h1>
  </div>

  <div class="login">
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="button" type="submit" value="ログイン" />
    </form>

    <div class="createAccount">
      <p style="text-align: center;">アカウントを持っていませんか？</p>
      {% comment %} <a href="{% url 'register' %}">新規登録</a><br>  {% endcomment %}
      <a href="{% url 'guest_login' %}">ゲストログイン</a>
    </div>
  </div>
{% endblock %}
